@import 'variables';

body {
	background-color: #ECECEC;
	margin: 0;
}

nav {
	display: block;
    overflow: hidden;
    vertical-align: middle;
    padding: 0 10%;
    background-color: #FFFFFF;
    border-top: .8em solid #515151;
    text-align: center;
	h2 {
		width: 9em;
		float: left;
		margin: 0;
		color: #08401F;
		img {
			height: 2em;
			position: relative;
			top: .5em;
		}
	}
	.navLinks {
		padding: 2em;
		a {
			margin: 0 .3em;
			text-decoration: none;
			color: #676767;
			font-weight: 600;
		}
	}
}

section {
	margin: 1em 0 0 1em;
	background-color: #FFFFFF;
	-webkit-box-shadow: 9px 9px 1px -5px rgba(0,0,0,0.41);
	-moz-box-shadow: 9px 9px 1px -5px rgba(0,0,0,0.41);
	box-shadow: 9px 9px 1px -5px rgba(0,0,0,0.41);
	width: 50%;
    float: left;
    .key {
    	width: 8.75em;
    }
    .loc {
    	width: 6.875em;
    }
    .filter {
    	float: left;
    	margin: 1em 0 1em .5em;
    	h4 {
    		margin: 0;
    		margin-bottom: .6em;
    	}
    }
    button {
    	float: right;
	    margin: 1.3em 8%;
	    padding: 0.7em 8%;
	    border: none;
	    color: white;
	    background-color: #3A9C44;
	    font-size: 1em;
    }
    .searches {
    	clear: both;
    	color: #003113;
    	.jobPage {
    		margin: 1.5em;
    		border-top: 2px solid #EEEEEE;
    		.jobTitle {
    			font-size: 1.3em;
    			float: left;
    		}
    		.postDate {
    			float: right;
    		}
    		.location {
    			clear: both;
    			font-size: .8em;
    			p {
    				margin: .3em 0;
    			}
    		}
    		.description {
    			margin: 0;
    			font-size: 0.7em;
    			color: #999999;
    		}
    		.jobKeywords {
    			margin: .5em 0em;
    			a {
    				padding: 2px 11px;
				    background-color: #FAFBE8;
				    margin-left: 0.3em;
				    text-decoration: none;
				    border: 1px solid #F1F4BE;
    			}
    		}
    	}
    }
}
aside {
	float: right;
	width: 48%;
}

.infos {
	margin: 1em;
    border: 2px solid #F3F4D8;
    background-color: #FAFBE8;
    padding: 1.5em;
    width: 75%;
    float: right;
	.infos_header {
			margin: 0;
	}
	div {
		padding-top: 1em;
		border-top: 2px solid #D7D8CB;
		p {
			font-size: 1.3em;
		}
	}
	.profileButt {
		border: none;
	    width: 100%;
	    font-size: 1.3em;
	    padding: 0.7em 0;
	    background-color: #666666;
	    color: #FFFFFF;
	}
}

.compInfos {
	margin: 1em;
    background-color: #FFFFFF;
    padding: 1.5em;
    width: 75%;
    float: right;
    .compHeader {
			margin: 0;
	}
	.compPics {
		padding-top: 1em;
		border-top: 2px solid #D7D8CB;
		position: relative;
		.featured {
			width: 100%;
		}
		.featuredLogo {
			position: absolute;
		    left: 25%;
		    top: 60%;
		    height: 90%;
		    width: 50%;
		}
	}
	.infoText {    
		text-align: center;
    	margin: 7em 0;
    	h1 {
    		color: #399843;
    	}
    	h3 {
    		color: #999999;
    	}
    }
}

















